module.exports = {
  settings: {    
    // 解決 Unable to resolve path to module    
    'import/resolver': {
      node: {        
	extensions: allExtensions,
      },
    },
  },
  env: {
    browser: true,
    es6: true,
    node: true,
    jest: true,
    jquery: true
  },
  extends: '@lidemy/eslint-config-lidemy',
  globals: {
    Atomics: 'readonly',
    SharedArrayBuffer: 'readonly'
  },
  parserOptions: {
    ecmaFeatures: {
      jsx: true
    },
    ecmaVersion: 2018
  },
  rules: {
    'no-console': 'off'
  }
}